[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
pandas = "*"
selenium = "*"
cryptography = "*"
openpyxl = "*"
usaddress = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
